{
       "singleQuote": true,
       "trailingComma": "all",
       "bracketSpacing": true,
       "arrowParens": "avoid",
       "semi": true,
       "printWidth": 110,
       "tabWidth": 6,
       "useTabs": false,
       "jsxSingleQuote": false,
       "quoteProps": "as-needed",
       "singleAttributePerLine": false
}
